@{
    ViewBag.Title = "Home Page";
}

<main>


    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

   
            <p><a class="btn btn-outline-dark" href="~/NhanVien/Index">Nhân viên &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
           
            <p><a class="btn btn-outline-dark" href="~/PhongBan/Index">Phòng Ban &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
           @* 
            <p><a class="btn btn-outline-dark" href="">Dự  Án &raquo;</a></p>*@
        </section>
    </div>
</main>